---
import Header from '../components/Header.astro'
import TestPrueba from '../components/TestPrueba.astro'
import Layout from '../layouts/Layout.astro'
import DropdownList from '../components/DropdownList.astro'



---

<Layout title="Tests" pageTitle='Tests 🎰'>
<div>
    <h2 class="text-center text-3xl">
        ⌛¡Empieza hoy mismo y lleva tu aprendizaje al siguiente nivel!📈
    </h2>
</div>
    <Header nameButton='Inicio'/>
    
    <main>
        <TestPrueba/>
    </main>
   
</Layout>
