---
import HeaderButon from "./HeaderButon.astro";

interface Props {
  nameButton: string;
}

const nameButton = Astro.props.nameButton;
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <!-- <div class="mx-auto text—center mb—8 lg:mb-16">
        <h1 class="mb-4 text—5xl tracking—tight font—extrabold text-white">
            Bienvenidos a Geo-Cult.🚀🌌
          </h1>
    </div> -->
  <HeaderButon url={"/tests"}>
    <svg
      slot="before"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin-question"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
        d="M14.997 19.317l-1.583 1.583a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 13.657 -5.584"
      ></path><path d="M19 22v.01"></path><path
        d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
      ></path></svg
    >
    Test
  </HeaderButon>
  <HeaderButon url="/about">
    <svg
      slot="before"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-info-hexagon"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
      ></path><path d="M12 9h.01"></path><path d="M11 12h1v4h1"></path></svg
    >
    About
  </HeaderButon>

  <HeaderButon url="/">
    <svg
      slot="before"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-home-star"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M19.258 10.258l-7.258 -7.258l-9 9h2v7a2 2 0 0 0 2 2h4"></path><path
        d="M9 21v-6a2 2 0 0 1 2 -2h1.5"></path><path
        d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"
      ></path></svg
    >
    Home
  </HeaderButon>
</header>
